ChatServer/nbproject/
ChatServer/dist/
ChatServer/build/
ChatServer/lib/CopyLibs/
ChatClient/nbproject/
ChatClient/dist/
ChatClient/build/
ChatClient/lib/CopyLibs/
*.xml
*.properties
*.class
*.form
APIKEY.java
