CanaChatServer/nbproject/
CanaChatServer/dist/
CanaChatServer/build/
CanaChatServer/lib/CopyLibs/
CanaChatClient/nbproject/
CanaChatClient/dist/
CanaChatClient/build/
CanaChatClient/lib/CopyLibs/
*.xml
*.properties
*.class
*.form
APIKEY.java
